.w3-bar, button {
    font-family: "Open Sans", sans-serif;
}

.fa-anchor, .fa-coffee {
    font-size: 200px;
}

#img-grupo {
    width: 30em;
    border-radius: 50%;
    margin-top: 60px;
}

#img-barco {
    width: 15em;;
    border-radius: 50%;
    margin-top: 60px;
}

.link-navbar {
    background-color: rgb(33, 150, 243);
}
